.background{
    background-image: linear-gradient(to bottom right,  #009EF6,#d5c3f0);
    height: 100vh;
    width: 100vw;
}
.title{position: absolute;
    /* width: 296px;
    height: 56px; */
    left: 80px;
    top: 3px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    
    
    color: #FAFAFA;}
.route{
    position: absolute;
    padding-left: 20px;
    right: 80px;
    top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #f0f7f0;
    height: auto;
    width: auto;
    
   

 }
 .lc{
     padding: 35px;
     color: #FAFAFA;
    font-family: Roboto;
    font-style: normal;
    height: auto;
    width: auto;
    
 }
 .vh{
     
     justify-content: center;
     height: auto;
     width: auto;
     padding: 35px;
     border-radius: 30px;
     background-image: linear-gradient(to bottom right,  #7f8ed3,#354680);
   
 }
